<div class="bg-white panel mb-3">
    <p class="text-4xl text-center text-gray-700 py-3 px-3">Sven Walther
    
        <img class="shadow-2xl inline-block align-middle" src="/images/sven.jpeg" />
        
    <p class="text-xl text-center text-gray-700 py-3 px-3">Principal Solutions Engineer EMEA @ Kong Inc.</p>
    
    <p class="text-gray-700 text-base m-3">Sven is responsible for all technical questions, presentations and installations for Kong Inc. prospects in the API and services space in the European region. He has more than 20 years experience with different enterprise IT solutions consuming, providing and managing APIs. He is currently focused on providing the world-class solutions for APIs, services and Developer Engagement.</p>

    <p class="text-gray-700 text-base m-3">In his professional career he soon focused on the idea of selling by providing consultancy in both the commercial and the technical space. Seeing is believing is one of his major concepts for presentations showing real systems instead of a stack of slides.</p>
        
    <p class="text-gray-700 text-base m-3">After having successfully completed studying economics he started his career on leading enterprise software companies being responsible for his home market Germany as well Europe, Middle East and Africa. He has been working for leading software vendors in development focused industries in technical driven presales roles ever since.</p>
        
    <p class="text-gray-700 text-base m-3">In addition, Sven used to be a .NET developer in his free time when not using his preferred UNIX based environments.</p>
</div>